.contendorPrincipal{
    background-color: #eaeaea;
    display: flex;
    color: #143c6c
}

.contendorFiltros{
    margin-left: 40px;
    margin-top: 20px;
    padding: 5px;
    background-color: white;
    max-width: 200px;
}

.contendorCards{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

